:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  text-size-adjust: 100%;
//  background: theme.$bgColorDark;
//  color: theme.$colorPrimaryDark;
//}
//
//[data-theme="light"] {
//  background: theme.$bgColorLight;
//  color: theme.$colorPrimaryLight;
//}
//
//[data-theme="dark"] {
//  background: theme.$bgColorDark;
//  color: theme.$colorPrimaryDark
//}


/* THEME - LIGHT */

/* colors */
$colorPrimaryLight: #111827;
$colorSecondaryLight: #6054FF;

/* border-colors */
$borderLight: #C3C3C3;

/* background-colors */
$bgColorLight: linear-gradient(92deg, rgb(199 221 255 / 42%) 1.34%, rgb(254 217 255 / 53%) 49.97%, rgb(255 83 165 / 0%) 98.6%);



/* THEME - DARK */

/* colors */
$colorPrimaryDark: #d9dbff;
$colorSecondaryDark: rgba(15, 13, 40, 0.56);

/* border-colors */
$borderDark: rgba(136, 136, 255, 0.48);

/* background-colors */
$bgColorDark: linear-gradient(92deg, #2C3E50 1.34%, #000000 98.6%)}