:root {
  --bg-color: linear-gradient(92deg, #2C3E50 1.34%, #000000 98.6%);
  --bg-card: rgba(21, 13, 40, 0.28);
  --bg-accent: #770e47;
  --color-primary: #d9dbff;
  --color-secndary: #6054FF;
  --color-accent: #ff6490;
  --border-color: rgba(136, 136, 255, 0.48);
}

[data-theme="light"] {
  --bg-color: linear-gradient(92deg, rgb(199 221 255 / 42%) 1.34%, rgb(254 217 255 / 53%) 49.97%, rgb(255 83 165 / 0%) 98.6%);
  --bg-card: rgba(180, 153, 238, 0.28);
  --bg-accent: #ff4d9d;
  --color-primary: #111827;
  --color-secndary: rgba(15, 13, 40, 0.56);
  --color-accent: #50282d;
  --border-color: #C3C3C3;
}