/* Gradients */
$mainTitleGradient: linear-gradient(to right,#1b7ce2,#ff6388,#7957ff);

/* Box-Shadows */
$shadowGray-sm: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 -3px 4px -2px rgb(0 0 0 / 10%);
$shadowWave-lg: 0 14px 40px 0 rgb(0 15 54 / 18%);
$shadowGray-xl: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%);
$shadowGray-xxl: 0 7px 19.5px 0 rgb(0 0 0 / 28%);
$shadowCard: 0 0 1px 0 rgb(189 192 207 / 6%), 0 10px 16px -1px rgb(189 192 207 / 20%);
$shadowCardHover: 0 0 1px 0 rgb(189 192 207 / 6%), 0 10px 16px -1px rgb(189 192 207 / 120%);

/* Fonts */
$inter: inter, sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-extraBold: 800;

/* Breakpoints */
$responsive-xs: 375px;
$responsive-sm: 480px;
$responsive-md: 768px;
$responsive-lg: 976px;
$responsive-xl: 1200px;
$responsive-xxl: 1440px;

