@use "../../sass/abstracts/index" as variables;

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--color-primary);
  text-align: center;

  &__content {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;

    @media (min-width: variables.$responsive-md) {
      font-size: 2.5rem;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    color: var(--color-secndary);
    font-weight: variables.$font-medium;
  }

  &__image {
    margin: 2rem 0;
    border-radius: 10px;
    box-shadow: variables.$shadowGray-xxl;
  }

  &__action-button {
    @include variables.button('button');
    background: var(--bg-color);
    outline: 1px solid var(--color-primary);

    &:hover {
      background-color: var(--color-secndary);
      transform: scale(1.05);
    }

    &:focus {
      outline-offset: 2px;
    }

    @media (min-width: variables.$responsive-xl) {
      width: 200px;
    }
  }
}