@use '../../sass/abstracts/index';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  border-bottom: solid 0.5px var(--color-primary);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;

    &-link {
      text-decoration: none;
      color: var(--color-primary);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      margin-left: 1.5rem;

      &-link {
        text-decoration: none;
        font-size: 1rem;
        color: var(--color-primary);
        transition: color 0.3s ease-in-out;

        &:hover {
          color: var(--color-accent);
        }
      }
    }
  }

  &__mode-switcher {
    &-button {
      @include index.button('icon');

      &:hover {
        transform: scale(1.1);
      }
    }

    &-icon {
      pointer-events: none;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;

    &__menu {
      display: none;
    }
  }
}